body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  /* background-color: #0cecd9; */
  background: yellowgreen;
}

/* body {
  background-image: url("./assets/OIP.webp");
  background-size: cover;
  opacity: 0.8;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo-image {
  width: 100px; /* ajustez la largeur selon vos besoins */
  height: auto;
}

a {
  /* color: white; */
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px; /* ou une valeur fixe appropriée */
  margin: 0 auto; /* centre le conteneur horizontalement */
}

label {
  display: block;

  padding: 0;
}

.noEmployee {
  justify-content: center;
  display: flex;
  height: 30px;
  background-color: floralwhite;
  margin: 20px 0;
  align-items: center;
}

.address {
  margin-top: 10px;
  border-radius: 5px;
}

#create-employee {
  display: flex;
  flex-direction: column;
  border: 4px solid white;
  background: yellowgreen;
  border-radius: 10px;
  padding: 20px;
}

.showSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.numberPrevNext {
  display: flex;
  justify-content: space-between;
}

.prevNext {
  display: flex;
  gap: 10px;
}

.search {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 50px;
}

#searchInput {
  height: 15px;
}

#confirmation {
  position: fixed;
  display: flex;
  justify-content: center;
  /* border: 2px solid; */
  /* width: 50%; */
  top: 50%;
  width: 100%;
  height: 50px;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  border: 2px solid;
  color: white;
  width: 70%;
  padding: 0 20px;
  border-radius: 10px;
}

#department {
  margin-bottom: 10px;
}

/* .titlesearch {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
} */

.p {
  margin: 0;
  padding: 0;
}

.Home {
  margin-left: 50%;
}
